.flexbox {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex {
    margin-bottom: 3vh;
}

.genre {
    font-size: 10vh;
    margin-bottom: auto;
    margin-top: auto;
}

.quiz {
    background-color: greenyellow;
    width: 20vw;
    height: 10vh;
    font-size: 3vh;
    border: 0px;
}

.waka {
    background-color: yellow;
    width: 20vw;
    height: 10vh;
    font-size: 3vh;
    border: 0px;
}

.city {
    background-color: orangered;
    width: 20vw;
    height: 10vh;
    font-size: 3vh;
    border: 0px;
}

.challenge {
    background-color: lightblue;
    width: 20vw;
    height: 10vh;
    font-size: 3vh;
    border: 0px;
}