.screen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    max-height: 100vh;
    margin: 0;
}

.item {
    font-size: 2em;
    max-width: 100%;
    margin-top: 5em;
}

.nav {
    position: absolute;
    width: 100vw;
    height: 10vh;
    background-color: #93b873;
    margin: 0;
    align-self: flex-start;
}

.logo {
    max-width: 50vw;
}

.trust {
    position: absolute;
    width: 100vw;
    height: 8vh;
    background-color: #e4ecdcff;
    margin: 0;
    align-self: flex-start;
    margin-top: 10vh;
}

.trustword {
    max-width: 100vw;
}

.home {
    margin-top: 2em;
    background-color: green;
    width: 25%;
    height: 15%;
    min-height: 2em;
    font-size: 175%;
    border: 0px;
    text-align: center;
    font-family: monospace;
    color: black;
    margin-bottom: 10vh;
}

.home:hover {
    background-color: darkgreen;
}

.order {
    background-color: blue;
    color: gold;
    width: 20vw;
    height: 10vh;
    font-size: 3vh;
    border-width: 10px;
    border-color: gold;
    border-style: solid;
    height: 10vh;
}

.order:hover{
    background-color: darkblue;
}

.first {
    background-color: blue;
    color: gold;
    width: 50vw;
    height: 50vh;
    font-size: 3em;
    border-width: 10px;
    border-color: gold;
    border-style: solid;
}